.login_main{
    width: 400px;
    height: 430px;
    background-color: white;
    margin-top: 8%;
    border-radius: 8px;
}

.label{
    font-size: 15px;
    font-weight: bold;
}

.field{
    width: 100%;
    height: 50px;
    border-radius: 10px;
    border: none;
    outline: none;
    background-color: rgb(235, 235, 235);
}

.field::placeholder{
    color: grey;
}

.field:focus{
    outline: none;
    border: none;
}

.btn_login{
    background-color:#1eace6;
    padding: 9px 70px 9px 70px;
    border-radius: 20px;
    outline: none;
    cursor: pointer;
    color: white;
    font-weight: bold;
    
}

.link:hover{
    text-decoration: none;
}

.login_field{
    padding-top: 25%;
}

.login_main2{
    width: 400px;
    height: 450px;
    background-color: white;
    margin-top: 8%;
    border-radius: 8px;
}

.login_field2{
    padding-top: 20%;
}

.nav_bar{
    height: 70px;
}

.login_name{
    color: #1eace6;
    font-weight: bold;
}

.btn_logout{
    background-color: #1eace6;
    color: white;
    padding: 4%;
    font-weight: bold;
    font-size: 15px;
    border-radius: 15px;
    cursor: pointer;
}

@media screen and (max-width:768px){
    .login_main{
        width: 90%;
    }
    .login_main2{
        width: 90%;
    }
    .login_name{
        font-size: 20px;
    }
}